#container {
  position: fixed;
  width: 100%;
  z-index: 1;
}

#buttons_and_board{
  width: 400px;
  height: 500px;
  margin: 10% auto;
  z-index: 10;
}

#board {
  width: 400px;
  height: 400px;
  z-index: 10;
  margin: 0px 0px;
}

.col {
  border: 1px solid gray;
  width: 12.5%;
  float: left;
  background-color: yellow;
  outline-style: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.row {
  border: 1px solid gray;
  width: 100%;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  outline-style: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

button {
  border-top-left-radius: 10px 50px;
  border-top-right-radius: 10px 50px;
  height: 50px;
  text-align: center;
  z-index: 100;
  float: left;
  margin: 0px 1.5px;
  width: 12.5%;
  outline-style: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.reset > button {
  width: 100px;
  border-radius: 10px 50px;
}

.mode_select > button {
  float: right;
  width: 80px;
  border-radius: 50px 10px;
}

.selected {
  background-color: yellow;
}

.mode_select {
  margin-right: 20px;
}

p.piece {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  bottom: 400px;
  left: 0px;
  margin: 0px 0px;
  padding: 0px 0px;
}

p.piece span {
  position: relative;
  display: block;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: rgba(255, 255, 255, 0.2);
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.reset {
  clear: both;
}
