<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="js/vendor/modernizr-2.7.1.min.js"></script>
  <script src="/js/View.js"></script>
  <script src="/js/Board.js"></script>
  <script src="/js/Game.js"></script>
  <script src="/js/Controller.js"></script>
  <script src="/js/application.js"></script>

  <title><%= TITLE %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
</head>
<body class="loaded">
<div id="preload">
  <img src="images/bcg_slide-1.jpg">
  <img src="images/bcg_slide-2.jpg">
  <img src="images/bcg_slide-3.jpg">
  <img src="images/bcg_slide-4.jpg">
</div>
  <main>
  <%= yield %>
    <section id="slide-1" class="homeSlide">
      <div class="bcg">
        <div class="hsContainer">
          <div class="hsContent">
          </div>
        </div>
      </div>
    </section>
    <section id="slide-2" class="homeSlide">
      <div class="bcg">
        <div class="hsContainer">
          <div class="hsContent">
          </div>
        </div>
      </div>
    </section>
      <section id="slide-3" class="homeSlide">
        <div class="bcg">
            <div class="hsContainer">
              <div class="hsContent">
              </div>
            </div>
            
          </div>
      </section>
      
      <section id="slide-4" class="homeSlide">
        <div class="bcg">
            <div class="hsContainer">
              <div class="hsContent">
              </div>
            </div>
            
          </div>
      </section>
    </main>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="js/imagesloaded.js"></script>
    <script src="js/skrollr.js"></script>
    <script src="js/_main.js"></script>
  </body>
  </html>
